<!DOCTYPE html>
<html lang="en">
    <div class="container">
        <div class="row">
            <body style="background-color:#9AD1C1;"></body>
            <aside class="col-md-12">
                <h2>Choose Your Device</h2>
            </aside>
            <section class="main col-md-12">
                <article>
                    
                    <pre style="font-size:25px;">PHONES</p>
                   <p style="font-size:25px;">COMPUTERS</p>
                    <p style="font-size:25px;">MISCELLANEOUS ITEMS</p>
                </article>
            </section>
        </div>
    </div>
