<!DOCTYPE html>
 <link rel="stylesheet" href="styles.css">
<div class="container">
    <div class="row">
        <h2>Select your device brand:</h2>
        <select style="width: 150px" required name="brand" id="brand">
            <option value=""></option>
            <option value="iPhone"><a>iPhone</a></option>
        </select>

        <br>

        <h2>Select Model</h2>
        <select style="width: 150px" required name="brand" id="brand">
            <option value=""></option>
            <option value="iPhone11"><a>iPhone11</a></option>
        </select>

        <br>
        <br>
        <hr />

        <a type="button" class="btn btn-success" href="/devices/iphone11">Proceed</a>
</div>


