<!DOCTYPE html>
 <link rel="stylesheet" href="styles.css">
 <body style="background-color:#9AD1C1;"></body>
<div class="container">
    <div class="row">
        <h2>Select your device brand:</h2>
        <select style="width: 150px" required name="brand" id="brand">
            <option value=""></option>
            <option value="iPhone"><a>iPhone</a></option>
            <option value="Apple"><a>Apple</a></option>
            <option value="Samsung"><a>Samsung</a></option>
            <option value="Huawei"><a>Huawei</a></option>
            <option value="Oppo"><a>Oppo</a></option>
            <option value="Vivo"><a>Vivo</a></option>
            <option value="Xiaomi"><a>Xiaomi</a></option>
            <option value="LG"><a>LG</a></option>
            <option value="Lenovo"><a>Lenovo</a></option>
            <option value="ZTE"><a>ZTE</a></option>
        </select>

        <br>

        <h2>Select Model</h2>
        <select style="width: 150px" required name="brand" id="brand">
            <option value=""></option>
            <option value="iPhone11"><a>iPhone11</a></option>
            <option value="iPhone SE"><a>iPhone SE</a></option>
            <option value="iPhone 12"><a>iPhone 12</a></option>
            <option value="iPhone 12 Mini"><a>iPhone 12 Mini</a></option>
            <option value="iPhone 13"><a>iPhone 13</a></option>
            <option value="iPhone 13 Mini"><a>iPhone 13 Mini</a></option>
            <option value="iPhone 13 Pro"><a>iPhone 13 Pro</a></option>
            <option value="iPhone 13 Pro Max"><a>iPhone 13 Pro Max</a></option>
        </select>

        <br>
        <br>
        <hr />

        <a type="button" class="btn btn-success" href="/devices/iphone11">Proceed</a>
</div>


