<!DOCTYPE html>

 <link rel="stylesheet" href="styles.css">
<div class="container">
    <div class="row">
        <section class="main col-md-9">
            <article>
                <h2 style="font-size:79px;">Welcome</h2>
				<body style="background-color:#9AD1C1;">
                <br>
                {{!-- </img src="file:///C:/Users/aliop/Documents/GitHub/hackathon_2021/images/logo_2.png"> --}}
                <p style="font-size:25px;">Knowing your device helps you identify the specific components that are harmful to you.
				   It also shows which elements are toxic and can harm the environment. Even if you are
                   promised that you get all the "green" and non-toxic elements, you should know what you are
				   carrying with you.</p>	
            </article>
        </section>
    </div>
</div>

<a type="button" class="btn btn-success" style="font-size: 23px" href="/about">Get Started</a>
