<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  /* (A) SET CONTAINER TO GRID */
    .column {
      float: left;
      width: 33.33%;
    }

    /* Stops the float property from affecting content after the columns */
    .columns:after {
      content: "";
      display: table;
      clear: both;
    }

    .box {
      width: 320px;
      padding: 10px;
      border: 5px solid gray;
      margin: 0;
      height: 400px;
      background-color: grey;
    }

    .blurb {
      width: 1082px;
      padding: 20px;
      border: 6px solid gray;
      margin: 0;
      height: 100px;
      background-color: grey;
    }
</style>
</head>
<body style="background-color:#9AD1C1;">
  <div class="columns">
    <div class="column" style="font-size:40px;">
      <b>Components</b>
      <div class="box" style="font-size:20px;">
        Gold<br>
        Copper<br>
        Silver<br>
        Plastic<br>
        Silica<br>
        Plastic<br>
        Iron<br>
        Aluminium<br>
        Lead<br>
        Zinc<br>
        Tin<br>
        Nickel<br>
        Barium<br>
      </div>
    </div>
    <div class="column" style="font-size:40px;">
      <b>Precious Metals</b>

      <div class="box" style="font-size:20px;">
        Gold <br>
        Silver<br>
        Copper<br>
        Platinum<br>
        Palladium<br>
      </div>
    </div>
    <div class="column" style="font-size:40px;">
      <b>Toxic Chemicals</b>
      <div class="box" style="font-size:20px;">
        Lead<br>
        Mercury<br>
        Arsenic<br>
        Cadmium<br>
        Chlorine<br>
        Bromine<br>
      </div>
    </div>
  </div>
  <div class="coloumn">
    <p style="color:#9AD1C1">
      dasdad
    </p>
    <div class="blurb">
<p style="font-size: 20px;">Your device contains elements, minerals and metals worth approximate range of 65 USD to 260 USD</p>

</div>
  </div>
   <div class="coloumn">
    <p style="color:#9AD1C1">
      dasdad
    </p>
    <div class="blurb" style="background-color:#9AD1C1;">
<p style="font-size: 20px;">The elements, minerals and metals found in your device if not recycled properly will end up in landfills and contaminate air, water and land</p>

</div>
  </div>

  </div>

  </div>
  </div>

</body>
</html>

<br>
<br>

<div style="position:absolute; left:200px; top:840px;"><a type="button" class="btn btn-success" style="font-size: 30px" href="/Locations">Recycle!</a>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
