<!DOCTYPE html>
<html>
    <title>Locations</title>
    <body style="background-color:#9AD1C1;">
        <h1>Let's be responsible & recycle</h1>
        <h2>Recycling centers in your neighborhood</h2>
        <iframe src="https://www.google.com/maps/d/embed?mid=1kl_OZ60Yx8u17n3BvzuOb7mH2VGGhTDo&ehbc=2E312F" width="640" height="480"></iframe>
    </body>
</html>
